<%- include('../partials/_navbar.ejs') %>
  <link rel="stylesheet" href="/stylesheet/style.css">

   <!-- <button onclick="window.location.href='auth/'">Go to Sign In</button> -->
<div class="container">
  <div class="button">

<h1>Create a new account</h1>

<form method="POST" action="/auth/sign-up">
  <label for="username">Username</label>
  <input type="text" name="username" id="username">

  <br>

  <label for="password">Password</label>
  <input type="password" name="password" id="password">

  <br>

  <label for="confirmPassword">Confirm Password</label>
  <input type="password" name="confirmPassword" id="confirmPassword">

  <br>

  <button type="submit">submit</button>

  </div>
</form>